body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto;
  padding: 10px 16px;
}

.breed-select {
  max-width: 200px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
}

img {
  max-width: 70%;
  height: auto;
}
.cat-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.breed-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.breed-descr p {
  margin-top: 0;
  margin-bottom: 10px;
}
.breed-descr p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  img {
    max-width: 40%;
  }
  .cat-info {
    flex-direction: row;
  }

  .breed-title {
    font-size: 28px;
  }
}
