body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  max-width: 30%;
  height: auto;
}
.cat-info {
  display: flex;
  gap: 40px;
}

.breed-title {
  font-weight: 700;
}

.breed-descr {
  width: 500px;
}
